body{
	background-color: purple;
}
.post{
	width: 600px;
	height: auto;
	background: black;
	margin: 20px auto;
	padding: 20px;
	border-left: 20px solid yellow;
}
.post h2{
	font-size: 35px;
	text-align: center;
	color: red;
	margin-top: 25px;
}
.post img{
	width: 350px;
	height: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.post p{
	color: yellow;
	font-size: 16px;
	font-family: sans-serif;
	font-style: italic;
	text-align: justify;
	margin-left: 25px;
	margin-right: 25px;

}